{% extends 'base.html' %}

{% block content %}

<div class="container">
<br/>
    <div class="card mb-3" >
        <div class="row g-0">
            <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">{{ produto.nome }}</h5>
                        <p class="card-text">{{ produto.descricao }}</p>
                        {% if produto.e_saldo %}
                            <strike>R${{ produto.preco }}</strike>
                            <br/>
                            <a>R${{ produto.preco_saldo }}</a>

                        {% else %}
                            <a>R${{ produto.preco }}</a>
                            <br/>
                            <a>ID: {{produto.id}}</a>
                            <br/>
                        {% endif %}
                        <button type="button" value="{{ produto.id }}" class="btn btn-primary" id="add-cart">Adicionar ao carrinho</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Checar se o botão foi apertado
    $(document).on('click', '#add-cart', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url:'{% url "cart_add" %}',
            data: {
                produto_id: $('#add-cart').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                console.log(json)
            },

            error: function(xhr, errmsg, err){
            }
        });
    })
</script>

{% endblock %} 